 <div class="container error-container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Error {{errorCode}}</h1>
                        <p class="card-text lead">{{errorMessage}}</p>
                        <a href="/" class="btn btn-outline-danger">Go to Home</a>
                        <a href="/signup" class="btn btn-outline-danger">Create new account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>